services:
    spark-dev-container:
        build:
            context: .
            dockerfile: Dockerfile
        networks:
            - app_network

    db:
        image: postgres:latest
        environment:
            POSTGRES_USER: admin
            POSTGRES_PASSWORD: password
            POSTGRES_DB: postgres
        networks:
            - app_network
        volumes:
            - pg_db_data:/var/lib/postgresql

networks:
    app_network:
        driver: bridge

volumes:
    pg_db_data: